In [ ]:
import pandas as pd
import os
import sys
from dotenv import load_dotenv

# Load environment variables from .env
load_dotenv()

# Add src/ to sys.path
notebook_dir = os.path.dirname(os.path.realpath("__file__"))
src_path = os.path.abspath(os.path.join(notebook_dir, "..", "src"))
if src_path not in sys.path:
    sys.path.insert(0, src_path)

print("sys.path:", sys.path)

# Temperature Dataset Cleaning

In [ ]:
# Import modules from src/data
from data import clean_data

# Combine external data into one structured format
raw_data_paths = [
    (r"d:\GitHub\calcifer\data\external\FLIR_groups1and2.csv", "flir"),
    (r"d:\GitHub\calcifer\data\external\ICI_groups1and2.csv", "ici")
]
combined_data_path = r"d:\GitHub\calcifer\data\interim\cleaned_external_data.csv"

data = pd.concat([clean_data(pd.read_csv(path)) for path, data_group in raw_data_paths], ignore_index=True)

In [10]:
# Display the cleaned data
data

0            Tg    Ta     Tc
0     33.492500  24.0  36.59
1     33.970000  24.0  37.19
2     34.820000  24.0  37.34
3     34.302500  24.0  37.09
4     34.670000  24.0  37.04
...         ...   ...    ...
2024  34.946667  25.7  36.99
2025  34.947500  25.7  37.19
2026  35.646667  28.0  37.59
2027  34.660000  25.0  37.29
2028  34.090000  23.8  37.19

[2029 rows x 3 columns]

In [ ]:
# Import modules from src/data
from data import save_clean_data_to_csv

# Save cleaned data
save_clean_data_to_csv(data, combined_data_path)

# Facial Dataset Cleaning

In [ ]:
from data import XMLtoTXT

XMLtoTXT()