In [4]:
import pandas as pd
import os
import sys
from dotenv import load_dotenv

# Load environment variables from .env
load_dotenv()

# Add src/ to sys.path
notebook_dir = os.path.dirname(os.path.realpath("__file__"))
src_path = os.path.abspath(os.path.join(notebook_dir, "..", "src"))
if src_path not in sys.path:
    sys.path.insert(0, src_path)

print("sys.path:", sys.path)

# Import modules from src/data
from data.cleaning import clean_data, save_clean_data_to_csv

sys.path: ['D:\\GitHub\\calcifer\\src', 'd:\\GitHub\\calcifer\\src', 'c:\\Users\\letic\\AppData\\Local\\Programs\\Python\\Python313\\python313.zip', 'c:\\Users\\letic\\AppData\\Local\\Programs\\Python\\Python313\\DLLs', 'c:\\Users\\letic\\AppData\\Local\\Programs\\Python\\Python313\\Lib', 'c:\\Users\\letic\\AppData\\Local\\Programs\\Python\\Python313', '', 'C:\\Users\\letic\\AppData\\Roaming\\Python\\Python313\\site-packages', 'C:\\Users\\letic\\AppData\\Roaming\\Python\\Python313\\site-packages\\win32', 'C:\\Users\\letic\\AppData\\Roaming\\Python\\Python313\\site-packages\\win32\\lib', 'C:\\Users\\letic\\AppData\\Roaming\\Python\\Python313\\site-packages\\Pythonwin', 'c:\\Users\\letic\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages']

In [ ]:
# Combine external data into one structured format
raw_data_paths = [
    (r"d:\GitHub\calcifer\data\external\FLIR_groups1and2.csv", "flir"),
    (r"d:\GitHub\calcifer\data\external\ICI_groups1and2.csv", "ici")
]
combined_data_path = r"d:\GitHub\calcifer\data\interim\cleaned_external_data.csv"

data = pd.concat([clean_data(pd.read_csv(path)) for path, _ in raw_data_paths], ignore_index=True)

# Save cleaned data
save_clean_data_to_csv(data, combined_data_path)

In [6]:
# Display the cleaned data
data

1            Tg    Ta     Tc
0     32.790000    24  36.59
1     33.190000    24  37.19
2     33.957500    24  37.34
3     33.372500    24  37.09
4     33.775000    24  37.04
...         ...   ...    ...
2024  35.460000  25.7  36.99
2025  35.375000  25.7  37.19
2026  35.966667    28  37.59
2027  35.150000    25  37.29
2028  34.440000  23.8  37.19

[2029 rows x 3 columns]